.section3 {
    background-color: #283f6a;
    height: 100vh;
    width: 100vw;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.svg{
    padding: 0px;
    margin: 0px;
}

.section3 span{
    color: #0A74FF;
    text-shadow: 0 0 100px #00aeff;
}

.aluno h1{
    font-size: 35px;
    display: flex;
    justify-content: center;
    color: #fdfdfd;
    text-shadow: 0 0 100px #ffffff;
}

.aluno p{
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 100px;
    text-align: center;
}

.b1{
  backdrop-filter: blur(10px);
  height: 300px;
  width: 400px;
  overflow: hidden;
  border:  1px #23272e solid;
  padding-top: 80px;
  border-radius: 30px;
  background-color: #161923;
  padding: 30px;
} /* Bloco que estilizei, tamanho cor e padding */

.b1:hover i.bi-journals{
  transform: rotate(4deg) scale(1.3);
  transition: 0.5s ease-in-out;
}

.b1:hover{
  border-color: #0A74FF;
  transition: 1.5s ease-in;
  text-shadow: 0 0 50px #0A74FF;
}

.b1 i.bi-journals{
  width: 60px;
  height: 60px;
  /* Centralização */
  margin: 0 auto 16px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #0A74FF 0%, #003366 100%);
  border-radius: 50px;  
}

.b1 h1{
color: white;
display: flex;
justify-content: center;
padding-top: 10px;
}


.b1 p{
  display: flex;
  justify-content: center;
  color: white;
  padding-bottom: 10px;
  text-align: center;
  padding-top: 10px;
}

.b1 input [type="button"] {
  cursor: pointer;
  display: flex;
  justify-content: center;

}




.b2{
  backdrop-filter: blur(10px);
  height: 300px;
  width: 400px;
  overflow: hidden;
  border:  1px #23272e solid;
  padding-top: 80px;
  border-radius: 30px;
  background-color: #161923;
  padding: 30px;
} /* Bloco que estilizei, tamanho cor e padding */

.b2:hover i.bi-list-check{
  transform: rotate(4deg) scale(1.3);
  transition: 0.5s ease-in-out;
}

.b2:hover{
  border-color: #0A74FF;
  transition: 1.5s ease-in;
  text-shadow: 0 0 100px #0A74FF;
}

.b2 i.bi-list-check{
  width: 60px;
  height: 60px;
  /* Centralização */
  margin: 0 auto 16px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #0A74FF 0%, #003366 100%);
  border-radius: 50px;  
}

.b2 h1{
color: white;
display: flex;
justify-content: center;
padding-top: 10px;
}


.b2 p{
  display: flex;
  justify-content: center;
  color: white;
  padding-bottom: 10px;
  text-align: center;
  padding-top: 10px;
}

.b2 input [type="button"] {
  cursor: pointer;
  display: flex;
  justify-content: center;

}

 


.b3{
  backdrop-filter: blur(10px);
  height: 300px;
  width: 400px;
  overflow: hidden;
  border:  1px #23272e solid;
  padding-top: 80px;
  border-radius: 30px;
  background-color: #161923;
  padding: 30px;
} /* Bloco que estilizei, tamanho cor e padding */

.b3:hover i.bi-chat-dots{
  transform: rotate(4deg) scale(1.3);
  transition: 0.5s ease-in-out;
}

.b3:hover{
  border-color: #0A74FF;
  transition: 1.5s ease-in;
  text-shadow: 0 0 100px #0A74FF;
}

.b3 i.bi-chat-dots{
  width: 60px;
  height: 60px;
  /* Centralização */
  margin: 0 auto 16px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #0A74FF 0%, #003366 100%);
  border-radius: 50px;  
}

.b3 h1{
color: white;
display: flex;
justify-content: center;
padding-top: 10px;
}


.b3 p{
  display: flex;
  justify-content: center;
  color: white;
  padding-bottom: 10px;
  text-align: center;
  padding-top: 10px;
}

.b3 input [type="button"] {
  cursor: pointer;
  display: flex;
  justify-content: center;

}






.b4{
  backdrop-filter: blur(10px);
  height: 300px;
  width: 400px;
  overflow: hidden;
  border:  1px #23272e solid;
  padding-top: 80px;
  border-radius: 30px;
  background-color: #161923;
  padding: 30px;
} /* Bloco que estilizei, tamanho cor e padding */

.b4:hover i.bi-journals{
  transform: rotate(4deg) scale(1.3);
  transition: 0.5s ease-in-out;
}

.b4:hover{
  border-color: #0A74FF;
  transition: 1.5s ease-in;
  text-shadow: 0 0 100px #0A74FF;
}

.b4 i.bi-journals{
  width: 60px;
  height: 60px;
  /* Centralização */
  margin: 0 auto 16px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #0A74FF 0%, #003366 100%);
  border-radius: 50px;  
}

.b4 h1{
color: white;
display: flex;
justify-content: center;
padding-top: 10px;
}


.b4 p{
  display: flex;
  justify-content: center;
  color: white;
  padding-bottom: 10px;
  text-align: center;
  padding-top: 10px;
}

.b4 input [type="button"] {
  cursor: pointer;
  display: flex;
  justify-content: center;

}

  

.b5{
  backdrop-filter: blur(10px);
  height: 300px;
  width: 400px;
  overflow: hidden;
  border:  1px #23272e solid;
  padding-top: 80px;
  border-radius: 30px;
  background-color: #161923;
  padding: 30px;
} /* Bloco que estilizei, tamanho cor e padding */

.b5:hover i.bi-journals{
  transform: rotate(4deg) scale(1.3);
  transition: 0.5s ease-in-out;
}

.b5:hover{
  border-color: #0A74FF;
  transition: 1.5s ease-in;
  text-shadow: 0 0 100px #0A74FF;
}

.b5 i.bi-journals{
  width: 60px;
  height: 60px;
  /* Centralização */
  margin: 0 auto 16px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #0A74FF 0%, #003366 100%);
  border-radius: 50px;  
}

.b5 h1{
color: white;
display: flex;
justify-content: center;
padding-top: 10px;
}


.b5 p{
  display: flex;
  justify-content: center;
  color: white;
  padding-bottom: 10px;
  text-align: center;
  padding-top: 10px;
}

.b5 input [type="button"] {
  cursor: pointer;
  display: flex;
  justify-content: center;

}






.b6{
  height: 300px;
  width: 400px;
  overflow: hidden;
  border:  1px #23272e solid;
  padding-top: 80px;
  border-radius: 30px;
  background-color: #161923;
  padding: 30px;
} /* Bloco que estilizei, tamanho cor e padding */

.b6:hover i.bi-journals{
  transform: rotate(4deg) scale(1.3);
  transition: 0.5s ease-in-out;
}

.b6:hover{
  border-color: #0A74FF;
  transition: 1.5s ease-in;
  text-shadow: 0 0 100px #0A74FF;
}

.b6 i.bi-journals{
  width: 60px;
  height: 60px;
  /* Centralização */
    margin: 0 auto 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #0A74FF 0%, #003366 100%);
  border-radius: 50px;  
}/*CENTRALIZEI O ICON DA BIBLIOTECA DENTRO DO ESPACINHO Q CRIEI */

.b6 h1{
color: white;
display: flex;
justify-content: center;
padding-top: 10px;
}


.b6 p{
  display: flex;
  justify-content: center;
  color: white;
  padding-bottom: 10px;
  text-align: center;
  padding-top: 10px;
}


.botao input[type="button"] {
  cursor: pointer;
  background: linear-gradient(135deg, #0A74FF, #0056B3); /* Gradiente roxo */
  color: #fff;
  border: none;
  padding: 10px 60px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.3s ease;
  
}



.botao{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}


.all1{
  display: flex;
  justify-content:center;
  gap: 30px;
  margin-bottom: 30px;
}/* ACHEI MAIS FACIL USAR ISSO DOQ GRID, ISSO CONTROLA OS 3 PRIMEIROS ITENS DA AREA ALUNO, O ALL 2 E OS OUTROS 3 DE BAIXO */

.all2{
  display: flex;
  justify-content: center;
  gap: 30px;
}





.section2 {
    position: relative;
    z-index: 1;
}/*FAZ COM Q A SECTION 2 SEJA RELATIVA A SVG E POR ISSO A SVG ENTRA NA SECTION 2. */



.section3 > svg {
    position: absolute;
    top: -60px; /* Move o SVG para cima, sobrepondo a seção anterior */
    width: 100%;
    z-index: 2;
    display: block;
    pointer-events: none; /* DEPOIS DE MO TEMPO PROCURANDO ACHEI ESSA TAG Q FAZ COM Q DE PRA CLICAR NAS COISAS MSM COM O ESPAÇO DA SVG GENIAL DEMAIS */
}/*TAVA DIFICIL TIRAR O ESPAÇO DO TOPO ATE A O TEXTO, ISSO FAZ COM Q O TAMANHO INVISIVEL DO SVG SEJA DIMINUIDO, PARTE DO SVG VAI PRA CIMA  */

.section3  .aluno {
    position: relative;
    z-index: 3;
    margin-top: 0;
    padding-top: 20px;
}



.section3 > .aluno {
    padding-top: 80px; 
} /* DISTANCIA DO TOPO PRA ONDE TÁ*/



/*Tive problemas com os espaços verdes que aparecem no modo inspencionar no f12, resolvi dentro de todos os blocos zerando os paddings,e dps colocando no tanto que eu queria, o problema com o svg eu resolvi subindo ele pra section anterior
em cada bootstrap icon eu centralizei com o margin pq achei bem mais facil e pratico dq o flexbox.


*/