

.general{
    padding: 20px;
    width: 100%;
    top: 0 ;
} /* cor da antiga linha, tirei*/

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
} /*Espacei os 2 Elementos com beetween e os centralizei*/

.menu a , .menu2 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: var(--fm);
} /*Cor na fonte, Font e Removi o sublinhado*/

.menu{
    display: flex;
    margin: 0 auto;
    gap: 40px;
} /*A nav Nao conseguia centralizar com o justify entao centralizei usando margin*/

.menu2{
    display: flex;
    gap: 40px;
    margin-right: 150px; 
} /* Mesma coisa da de cima, joguei o menu2 pro lado pq deu toque rs*/



.login{
    padding: 10px 30px;
    background-color: var(--cor-aescuro);
    border: 1px solid var(--cor-borda);
    border-radius: 7px;
    box-shadow: 0 0 10px var(--cor-aescuro);
} 

.login a{
    color: var(--cor-borda);
    
} /* Só pra mudar a cor pq a cor background é escura*/

.cadastro{
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid var(--cor-branca);
    border-radius: 4px;
}/*Deixei background transparente e botei borda*/








/* Estilo do botão */
.theme button {
  background: transparent;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(255, 255, 255);
}


/* Ícone */
.theme i {
  font-size: 18px;
  color: var(--cor-branca);

}


@media (max-width: 768px) {

    .links, .menu, .menu2 {
        flex-direction: column;
        text-align: center;
        margin: 0;
        gap: 25px;
    }

    .menu2 {
        flex-direction: row;
        gap: 15px;
    }
}




















