:root {
    --cor-roxa: #391BA6;
    --cor-borda: #1c1139;
    --cor-shadow: #8B008B;
    --cor-rescuro: #2b1f4d;
    --cor-amarelo: #ffa726;
    --cor-aescuro:#fb8c00;
    --cor-branca: #F2F2F2;
    --cor-aurora: #0B0019;
    --cor-rx: #340773;
    --cor-rosa: #e040fb;

    /* Fontes principais */
  --fm : 'Figtree', sans-serif;         /* Fonte padrão */
  --fm-alt : 'Alexandria', sans-serif; /* Fonte alternativa */
  --poppins: 'Poppins', sans-serif; /* Fonte adicional */
  --inter : 'Inter', sans-serif; /* Fonte adicional */

    /* Tamanhos de fonte */

   }

   /* Color Theme Swatches in Hex */
.Regulatis-—-SaaS-Web-App-2025-1-hex { color: #340773; }
.Regulatis-—-SaaS-Web-App-2025-2-hex { color: #150140; }
.Regulatis-—-SaaS-Web-App-2025-3-hex { color: #0D0126; }
.Regulatis-—-SaaS-Web-App-2025-4-hex { color: #9373D9; }
.Regulatis-—-SaaS-Web-App-2025-5-hex { color: #A68A56; }

/* Color Theme Swatches in RGBA */
.Regulatis-—-SaaS-Web-App-2025-1-rgba { color: rgba(51, 6, 114, 1); }
.Regulatis-—-SaaS-Web-App-2025-2-rgba { color: rgba(21, 1, 63, 1); }
.Regulatis-—-SaaS-Web-App-2025-3-rgba { color: rgba(12, 0, 38, 1); }
.Regulatis-—-SaaS-Web-App-2025-4-rgba { color: rgba(147, 114, 216, 1); }
.Regulatis-—-SaaS-Web-App-2025-5-rgba { color: rgba(165, 137, 86, 1); }

/* Color Theme Swatches in HSLA */
.Regulatis-—-SaaS-Web-App-2025-1-hsla { color: hsla(264, 88, 23, 1); }
.Regulatis-—-SaaS-Web-App-2025-2-hsla { color: hsla(258, 96, 12, 1); }
.Regulatis-—-SaaS-Web-App-2025-3-hsla { color: hsla(258, 96, 7, 1); }
.Regulatis-—-SaaS-Web-App-2025-4-hsla { color: hsla(258, 57, 65, 1); }
.Regulatis-—-SaaS-Web-App-2025-5-hsla { color: hsla(39, 31, 49, 1); }
